body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #d9cff5;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: left;
    font-size: 25px;
  }